body {
  font-family: 'oxygen',Helvetica Neue,Helvetica,Arial,Utkal,sans-serif, ox;
  font-size: 90%;
  margin: 0;
  padding: 0;
  background: #000;
}

#top {
  width: 980px;
  height: 40px;
  margin: 0 auto;
  border-bottom: 4px solid #ddd;
}

.header {
  width: 100%;
  min-height: 50px;
  margin: 0 auto;
  background: rgba(0, 0, 0,1);
  transition: all 0.5s ease;
}


.login-draw {
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    position: fixed;
    background: rgba(0, 0, 0, 0.8);
}

#logo, #ad {
  float: left;
  width: 400px;
  height: 110px;
}

#ad {
  width: 580px;
}


#nav-col {
  padding: 0;
  margin: 0 auto;
}


#nav {
  width: 1000px;
  height: 45px;
  margin: 0 auto;
  padding: 0px;
  background: white;
  color: #000;
  font-weight: bold;
}


#nav button {
    background: #fff;
    border: none;
    outline: none;
    font-size: 15px;
    padding: 10px;
}

#nav button:hover {
    cursor: pointer;
}

#nav button:active {
    color: #6d6d6d;
}


.search-container {
  width: 90%;
  margin: 0 auto;
  padding: 5px;
  margin-bottom: 50px;
  margin-top: 10px;
  background: #fff;
  border-top: solid thin #eee;
}


.search-container input {
  width: 100%;
  margin: 5px auto;
  outline: none;
}


.search-container .submit {
    background: #000;
    color: #fff;
    font-size: 15px;
    padding: 5px;
    margin: 8px auto;
}

.search-container ul,li {
  display: block;
  margin: auto;
}

.search-container ul {
  border: solid thin #eee;
  border-radius: 5px;
  max-height: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 10px;
}



.search-container li {
    padding: 0;
    margin-bottom: 15px;
    border-top: solid thin #eee;
}


.search-container li p:last-child {
    color: #6d6d6d;
}


.search-container li:first-child {
    border: none;
}


.search-container li:hover {
    background: #eee;
    cursor: pointer;
    padding: 5px;
}



#nav-bottom {
  width: 978px;
  height: 42px;
  margin: 0 auto;
  background: #f0f0f0 url(../img/wireframe/nav-bottom-backgr.png) repeat-x;
  border: 1px solid #d0d0d0;
  border-top: none;
}

#sub-nav {
  width: 980px;
  height: 45px;
  margin: 0 auto 10px auto;
}

#content-wrapper {
  width: 980px;
  min-height: 630px;
  margin: 0 auto;
  overflow: hidden;
}

#main {
  float: left;
  width: 660px;
  min-height: 630px;
  margin: 0 20px 0 0;
}

#headlines {
  width: 660px;
  min-height: 300px;
}

#main-headline {
  float: left;
  width: 400px;
  min-height: 300px;
  padding: 0 19px 0 0;
  border-right: 1px solid #ddd;
}

#more-headlines {
  float: right;
  width: 220px;
  min-height: 300px;
  padding: 0 0 0 20px;
}

#sidebars {
  float: right;
  width: 279px;
  min-height: 630px;
  padding: 0 0 0 20px;
  border-left: 1px solid #ddd;
}


#extras {
  display: block;
  width: 100%;
  height: auto;
  min-height: 300px;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 60px;
}


#extras h3 a {
    color: #000;
}



#extras p a {
  background: #dc0000;
  color: #fff;
  padding: 10px;
}


#extras::after {
    content: "";
    display: block;
    margin: 10 auto;
    clear: both;
}



#extras div {
    float: left;
    margin: 0 auto;
    width: 25%;
    padding: 10px;
}




.adBlock {
  width: 100%;
  height: 200px;
  margin: 0 auto;
  padding: 40px 0 0 10px;
  background: #fff;
}




/* TOP MENU */

#top ul {
  float: right;
  margin: 18px 0 0 0;
  padding: 0;
  list-style: none;
}

#top li {
  display: inline;
  font-size: 0.9em;
  line-height: 1.0em;
  margin: 0 0 0 20px;
  padding: 0;
}

#top li a {
  color: #dc0000;
  text-decoration: none;
}

#top li a:hover {
  color: #000;
  text-decoration: underline;
}

/* MAIN NAV MENU */

#nav ul {
  float: left;
  margin: 0;
  padding: 0 20px;
  list-style: none;
  margin-bottom: 10px;
}


#nav li {
  display: inline;
  font-size: 12px;
  line-height: 40px;
  text-transform: uppercase;
  margin: 0 20px 0 0;
  padding: 0;
}

#nav li.last {
  margin: 0;
}

#nav li a {
  color: #6d6d6d;
  text-decoration: none;
}

#nav li a:hover {
  color: #000;
  text-decoration: none;
}

/* MAIN SUB-NAV MENU */

#sub-nav ul {
  float: left;
  margin: 0;
  padding: 0;
  list-style: none;
}

#sub-nav li {
  display: inline;
  font-size: 0.9em;
  line-height: 45px;
  text-transform: uppercase;
  color: #666;
  margin: 0 15px 0 0;
  padding: 0;
}

#sub-nav li a {
  color: #000;
  text-decoration: none;
}

#sub-nav li a:hover {
  color: #000;
  text-decoration: underline;
}

#sub-nav li.title {
  color: #dc0000;
}

/* TYPOGRAPHY */

#headlines h1, #headlines h2, #headlines h3, #headlines h4, #sidebars h3 {
  font-size: 2.3em;
  font-weight: normal;
  line-height: 1.0em;
  letter-spacing: -1px;
  color: #000;
  margin: 0 0 6px 0;
}

#headlines h2, #headlines h3, #sidebars h3 {
  font-size: 1.7em;
}

#headlines h4 {
  font-size: 1.3em;
  line-height: 1.1em;
}

#headlines h3 {
  margin: 0 0 4px 0;
  padding: 12px 0 0 0;
  border-top: 1px solid #ddd;
}

#headlines h1 a, #headlines h2 a, #headlines h3 a, #headlines h4 a, #sidebars h3 a {
  color: #000;
  text-decoration: none;
}

#headlines h1 a:hover, #headlines h2 a:hover, #headlines h3 a:hover, #headlines h4 a:hover, #sidebars h3 a:hover {
  color: #6d6d6d;
}

#headlines h2.heading, #sidebars h2.heading-blue, #sidebars h2.heading {
    line-height: 1.2em;
    letter-spacing: 0px;
    color: #000;
    font-size: 22px;
    margin: 0 0 8px 0;
    padding: 7px 6px 6px 6px;
    background: #f5f5f5;
}

#sidebars h2.heading-blue {
  background: #f5f5f5;
}

#sidebars h4 {
  font: bold 1.0em arial,verdana,tahoma,sans-serif;
  line-height: 1.2em;
  margin: 0 0 9px 0;
  padding: 5px 0 0 0;
}

#sidebars h4 a {
  color: #6d6d6d;
  text-decoration: none;
}

#sidebars h4 a:hover {
  color: #000;
}

#main p, #sidebars p {
  font-size: 1.0em;
  line-height: 1.4em;
  margin: 0 0 16px 0;
}

#main p.author, #sidebars p.author {
  font: 0.8em arial,verdana,tahoma,sans-serif;
  line-height: 2.0em;
  margin: 0 0 10px 0;
  color: #999;
  font-size: 20px;
  padding: 0px 0px 0px 2px;
}

#main p.author span, #sidebars p.author span {
  color: #2c6fae;
}


#main p a, #sidebars p a {
  color: #dc0000;
  text-decoration: none;
  background: #dc0000;
  color: #fff;
  padding: 10px;
  font-size: 16px;
}

#main p a:hover, #sidebars p a:hover {
  opacity: 0.8;
}

#extras h2.heading {
  font-size: 1.5em;
  font-weight: normal;
  line-height: 1.0em;
  letter-spacing: -1px;
  color: #000;
  margin: 0;
  padding: 10px 0;
  background: #f5f5f5;
  padding-left: 10px;
}


#extras ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#extras li {
  font-size: 1.0em;
  margin: 0;
  padding: 9px 0;
}

#extras li.last {
  padding: 6px 0 0 0;
  border-bottom: none;
}

#extras li a {
  color: #000;
  text-decoration: none;
}

#extras li a:hover {
  color: #fff;
  text-decoration: none;
}


#extras li p a {
    color: #fff;
}

/* IMAGES */

#logo img {
  border: 0;
}

#ad img {
  margin: 15px 0 0 0;
  border: 0;
}

#sub-nav img {
  margin: 0 5px 0 0;
  border: 0;
  vertical-align: middle;
}

#main-headline img {
  margin: 0 0 6px 0;
  border: 0;
}

#main img.lefty {
  float: left;
  margin: 0 10px 0 0;
  border: 0;
}

#main img.righty {
  float: right;
  margin: 0 0 0 10px;
  border: 0;
}

#sidebars img.ad, #sidebars img.ad-right {
  margin: 0 24px 24px 0;
  border: 0;
}

#sidebars img.ad-right {
  margin: 0 0 24px 0;
}

#extras img {
  margin: 8px 0 0 0;
  border: 0;
}


/* FORMS */
#site-name-container {
    color: #fff;
    height: inherit;
    padding: 3px;
    font-family: 'oxygen',Arial, Helvetica,
      sans-serif,Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    font-size: 20px;
}


#nav-header {
  background: #000;
  color: #bfbfbf;
  height: 50px;
}


#nav-header #drop-down-menu {
    position: absolute;
    top: 50px;
    right: 0;
    margin-right: 50px;
    width: 350px;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    height: 50px;
}


#nav-header #dividers {
  margin: 10;
}



#nav-header .drop-down-menu ul li {
  clear: both;
  display: block;
  margin: 0;
}


#nav-header ul,li {
    float: left;
    padding: 0;
    text-decoration: none;
    list-style: none;
    margin-left: 10px;
    font-size: 16px;
}


#nav-header li {
    margin-top: 3px;
}


#nav-header .menu-button {
    background: none;
    color: #6d6d6d;
    font-size: 20px;
    background: #fff;
    border: none;
    background: none;
}



#nav-header .menu-button:hover {
      cursor: pointer;
}


#upload-cv {
    color: #bfbfbf;
    font-size: 16px;
}


#job {
  color: #bfbfbf;
}



#nav-header li a {
  text-decoration: none;
}


#nav-header li a:hover {
    color: #6d6d6d;
    text-decoration: none;
}


#nav-header .img {
    float: right;
    width: 50px;
    height: 50px;
    display: block;
    margin: 20px;
    margin-right: 50px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 100%;
    border: solid thin #fff;
}



#nav-header #drop-down-menu-button {
    float: right;
    font-size: 17px;
    margin: 10px;
    color: #bfbfbf;
}



#nav-header #drop-down-menu-button:hover {
    cursor: pointer;;
    color: #ddd;
}



#nav-header .img:hover {
    cursor: pointer;
}


#header-button {
    color: #bfbfbf;
    font-size: 20px;
}



#header-button:hover {
    cursor: pointer;
    color: #6d6d6d;
}





.right {
    float: right;
    margin-right: 40px;
    margin-top: 5px;
}


.subscribe {
  float: right;
  margin-right: 10px;
  margin-top: 15px;
}


.search {
  float: right;
  margin-right: 10px;
  margin-top: 15px;
}


.header-button:hover {
  color: #ddd;
  cursor: pointer;
}





.news-summary-container ul {
  margin: 0px;
  padding: 0;
  list-style: none;
}


.news-summary-container li {
  font-size: 15px;
  line-height: 25px;
  color: #fff;
  margin: 0 15px 0 0;
  padding: 0;
}


.news-summary-container li a {
  color: #fff;
  text-decoration: none;
}

.news-summary-container li a:hover {
  text-decoration: underline;
}

.news-summary-container {
    display: block;
    width: 70vw;
    margin: 0 auto;
}


.news-summary-container ul {
  float: left;
  margin-left: 40px;
  margin-top: 40px;
}


.news-summary-container ul::after {
  content: "";
  clear: both;
  display: block;
}




.center-splash-screen {
    margin: 20% auto;
    text-align: center;
    color: #000;
    padding: 10px;
    width: 10%;
    font-weight: bold;
    font-family: 'oxygen',Helvetica,sans-serif;
    border: solid thin #eee;
    border-radius: 10px;
}




#newdirectgh-custom-alert-box {
    width: 70%;
    padding: 20px;
    font-size: 20px;
    background: #dc0000;
    border-radius: 2px;
}





/*CSS LOADER*/
.loader {
    padding: 0;
    margin: 20% auto;
    width: 60px;
}



.loader img {
  width: 60px;
  margin: 0 auto;
  padding: 0;
}


.loader p {
  margin-top: 10px;
  text-align: center;
  font-size: 20px;
}
